<nav class="nav">
        <a class="nav-link active" href="/demandes">Tous</a>
        <a class="nav-link" href="/demandes/:type">Particuliers</a>
        <a class="nav-link" href="/demandes/:type">Professionnel</a>
    </nav>