<nav class="nav">
        <a class="nav-link active" href="/offres">Tous</a>
        <a class="nav-link" href="/offres/particuliers">Particuliers</a>
        <a class="nav-link" href="/offres/professionnels#">Professionnel</a>
    </nav>