<!DOCTYPE html>
<% include partials/header.ejs %>

<section>
    <div class="top">
        <%=ad.title%>
        <%=ad.city%>
        <%=ad.price%>
        <img src="/uploads/<%=ad.photo%>" alt="">
    </div>
   </section>
    
</body>
</html>