<% include partials/header.ejs %>

        <img src="https://www.google.fr/imgres?imgurl=http%3A%2F%2Fwww.cartesfrance.fr%2Fcartes%2Fcarte-france-departements.png&imgrefurl=http%3A%2F%2Fwww.cartesfrance.fr%2F&docid=_e2Lm6QHdVGmIM&tbnid=y_D66oyu5URZ8M%3A&vet=10ahUKEwjd367B05PZAhXDchQKHc_3CbMQMwhGKAgwCA..i&w=508&h=518&bih=803&biw=1359&q=carte%20de%20france&ved=0ahUKEwjd367B05PZAhXDchQKHc_3CbMQMwhGKAgwCA&iact=mrc&uact=8" alt="">

    </body>
</html>